<!--<!DOCTYPE html>-->
<!--<html xmlns:th="https://www.thymeleaf.org" lang="en"-->
<!--      th:replace="~{html/layout/layout :: layout(~{:: title}, ~{}, ~{:: #main-content}, ~{:: #js})}">-->
<!--<head>-->
<!--    <meta charset="UTF-8">-->
<!--    <title>Confirmation</title>-->
<!--</head>-->
<!--<body>-->
<!--<h2 th:text="${response.message}"></h2>-->

<!--<th:block th:if="${response.success}">-->
<!--    <a th:href="@{/login}" class="button-link">Đăng nhập</a>-->
<!--</th:block>-->
<!--</body>-->
<!--</html>-->