<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org" lang="en"
      th:replace="~{html/layout/layout :: layout(~{:: title}, ~{}, ~{:: #main-content}, ~{:: #js})}">>
<head>
    <meta charset="UTF-8">
    <title>Fiction</title>
</head>
<body>
<th:block id="main-content">
    <section class="py-4">
        <div class="container">
            <h3 class="mb-3">Fiction Books List</h3>
            <div class="row">
                <div class="col-2" th:each="book : ${booksPage.getContent()}">
                    <div class="movie-item">
                        <a th:href="@{/book/{id}/{slug} (id=${book.id}, slug=${book.slug})}"
                           class="movie-media">
                            <div class="movie-poster rounded overflow-hidden">
                                <img class="w-100 h-100"
                                     th:src="${book.cover}" th:alt="${book.title}">
                            </div>
                            <p class="mt-2" th:text="${book.title}">Cô Đi Mà Lấy Chồng Tôi</p>
                        </a>
                        <p th:text="${book.price}"> Price </p>
                    </div>
                </div>
            </div>
            <div class="d-flex justify-content-center mt-4" id="pagination" th:if="${booksPage.getTotalPages() != 1}">
                <nav aria-label="...">
                    <ul class="pagination">
                        <li class="page-item" th:classappend="${currentPage == 1 ? 'disabled' : ''}">
                            <a class="page-link" th:href="@{/fiction (page=${currentPage - 1})}">
                                <i class="fa-solid fa-caret-left"></i>
                            </a>
                        </li>

                        <li class="page-item"
                            th:each="number: ${#numbers.sequence(1, booksPage.getTotalPages())}"
                            th:classappend="${currentPage == number ? 'active' : ''}"
                        >
                            <a class="page-link" th:href="@{/fiction (page=${number})}" th:text="${number}">1</a>
                        </li>

                        <li class="page-item" th:classappend="${currentPage == booksPage.getTotalPages() ? 'disabled' : ''}">
                            <a class="page-link" th:href="@{/fiction (page=${currentPage + 1})}">
                                <i class="fa-solid fa-caret-right"></i></a>
                        </li>
                    </ul>
                </nav>
            </div>
        </div>
    </section>
</th:block>
<th:block id="js"></th:block>
</body>
</html>